// ~ fonts
@font-face
  font-family: 'Inconsolata'
  src: url('inconsolata-webfont.eot')
  src: url('inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
       url('inconsolata-webfont.woff2') format('woff2'),
       url('inconsolata-webfont.woff') format('woff'),
       url('inconsolata-webfont.ttf') format('truetype'),
       url('inconsolata-webfont.svg#inconsolatamedium') format('svg')
  font-weight: normal
  font-style: normal

fontSans      = "Helvetica Neue", Helvetica, Arial, sans-serif
fontMonospace = Consolas, "Liberation Mono", Menlo, Courier, monospace

// ~ colors
alpha   = #666
beta    = #222
gama    = #aaa
delta   = #4b0082
epsilon = #ededed
